/* Reset style */
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Buttons */
.common-btn {
    font-weight: bold;
    padding: 10px 36px;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    cursor: pointer;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 20px;
    color: #575757;
}

header nav ul li a {
    text-decoration: none;
}


/* Banner styles */
/* .banner {

} */

.banner-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    display: block;
    filter: brightness(40%);
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 20px 0 10px;
    box-sizing: border-box;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.4rem;
    max-width: 800px;
    filter: brightness(90%);
}

.banner-btn {
    font-size: 1.4rem;
    margin-bottom: 0;
    padding: 14px 40px;
}