/* Reset style */
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
}

/* Buttons */
.common-btn {
    font-weight: bold;
    padding: 10px 36px;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-btn {
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 8px;
    color: #2563EB;
    background-color: white;
    outline: auto;
    cursor: pointer;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 20px;
    color: #575757;
}

/* Banner styles */

.banner-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img-container img {
    width: 100%;
    display: block;
    filter: brightness(40%);
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 20px 0 10px;
    box-sizing: border-box;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.4rem;
    max-width: 800px;
    filter: brightness(90%);
}

.banner-btn {
    font-size: 1.4rem;
    margin-bottom: 0;
    padding: 14px 46px;
}

/* Meet the speakers styles */
.speaker-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-parent > h2 {
    padding: 60px 0 20px;
    font-size: 3rem;
}

.speaker-card-parent {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.speaker-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 6px;
}

.speaker-card-texts {
    padding: 24px;
}

.track-label {
    color: #2563EB;
    font-size: 0.6rem;
    font-weight: bold;
}

.speaker-name {
    font-weight: 700;
    padding: 8px 0;
}

.speaker-title {
    font-size: 0.7rem;
    color: #575757;
}

/* Secure Your Spot styles */
.secure-parent {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.secure-parent > h2 {
    font-size: 2.5rem;
}

.secure-parent > p {
    font-size: 0.8rem;
    color: #575757;
}

.secure-cards-parent {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.secure-card {
    border: 1px solid rgb(211, 209, 209);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 6px;
}

.secure-card-main {
    background-color: #0D1B2A;
    color: white;
}

.secure-card h6 {
    font-size: 0.8rem;
    color: #717070;
}

.secure-card h2 {
    font-weight: bold;
    font-size: 1.8rem;
}

.secure-card p {
    color: #717070;
    font-size: 0.6rem;
}

.secure-card ul {
    font-size: 0.9rem;
    padding: 20px;
    color: #575757;
}

.secure-card li {
    padding: 4px;
}

.secure-card-main ul {
    color: #d1d0d0;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #0D1B2A;
    padding: 50px;
    color: #575757;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
}